<!DOCTYPE html>
<html>
    <head>
        <title>Edit a Device</title>
        <link rel="stylesheet" href="/css/EditDeviceCSS.css">
        <script src="/javascript/EditDeviceJS.js"></script>
    </head>
    <body>
        <form method="put"  action="/views/EditDevice.ejs.ejs/<%=arr._id%>?_method=PUT"  enctype="multipart/form-data">
        <div class="gen">
<div class="left">
<img src="/images/logo.jpg" alt="Shop logo">
<h1 id="logo">MINIM</h1>
<p>Electronic Devices</p>
</div>

    <div class="right">
        <h1 id="re">Edit a Device</h1>
        <div class="gen2">
        <div class="p1">
        <h2 id="NH">Name</h2>
        <input type="text" name="Name" id= "NI" value="<%= arr.Name %>" required disabled>
        <h2 id="PH">Price (in EGP)</h2>
        <input type="number" name="Price" id= "PI" placeholder="15000" value="<%= arr.Price %>" required step="0.01">
        <p id="PV"></p>
        <h2 id="HDDH">Description</h2>
        <input type="text" name="Description" id= "HDDI" placeholder="Write your device description" value="<%= arr.Description %>" required>
        <p id="HV"></p>
        </div>
        <div class="p2">
        <h2 id="RAMH">RAM (in GB)</h2>
        <input type="number" name="RAM" id= "RAMI" placeholder="8" value="<%= arr.RAM %>" required>
        <p id="RV"></p>
        <h2 id="SPH">Screen space (in Inch)</h2>
        <input type="number" name="ScreenSpace" id= "SPI" placeholder="15.6" value="<%= arr.ScreenSpace %>" required step="0.01">
        <p id="SPV"></p>
        <h2 id="PhH">Photo</h2>
        <input type="file" name="Photo" id= "PhI" value="<%= arr.contentType%>" required>
        <p id="PHV"></p>
        </div>
        </div>
        <div class="BD">
        <button type="submit" onclick="EditFun()" class="EB" name="EditB" >Edit</button>
        <button type="button" onclick="CanFun()" class="CB" name="CancelB" >Cancel</button>
        </div>
        </div>
    </div>
        </div>
        </form>
    </body>
</html>
