<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devices</title>
    <link rel="stylesheet" href="/css/ManageDevicesCSS.css">
   
</head>
<body>
    <div id="tit">
        <button type="button" id="CanB"  onclick="location.href='/views/AdminPage.ejs';" >Cancel</button>   
        <h1 id="title">Devices</h1>
        
    </div>

    <div id="gen1">

     
        <% arr.forEach(element => { %>
            <div class="product">
                <img class="product-image" src="/device-images/<%= element._id %>" alt="<%= element.Name %>">
            <h2 id="pro-name" onclick="location.href='/views/Device.ejs/<%= element._id %>';"><%= element.Name %> </h2>
            <h2 class="price"><%= element.Price+" EGP" %></h2>
            <h2 class="RAM"><%= element.RAM +"GB RAM"%></h2>
            <h2 class="quantity">Available: <%= element.Quantity %></h2>
            <h2 class="Screen_space"><%=element.ScreenSpace +" Inch" %></h2>
            <button type="button" class="Edit-button" id="Edit" onclick="location.href='/views/EditDevice.ejs/<%= element._id %>';" >Edit</button>
            <form action="/views/ManageDevices.ejs/<%=element._id%>?_method=DELETE" method="post" style="display: inline;">
            <button type="submit" class="Delete-button" id="Delete" >Delete</button>
            </form>
        </div>
            
        <% }) %>   

        
    </div>
</body>
</html>